REQ-ID: FR01
Description: The product shall identify, for a given therapist, treatment and date, the closest available time slot in which the therapist will be available to treat the patient.
Type: Functional
Rationale: In order to book an appointment for a patient to be treated.
Originator: Carol (Office Manager)
Comments: [Luismi-LopezEsteban] First draft

REQ-ID: FR02
Description: The product shall keep an schedule of which therapist are available and when, considering events such as holidays, illnesses, travel, etc..
Type: Functional
Rationale: In order to know when therapist area available to book patient treatments.
Originator: Carol (Office Manager)
Comments: [Luismi-LopezEsteban] First draft

REQ-ID: FR03
Description: The product shall allow the modification of an appointment date
Type: Functional
Rationale: To allow for changes of patient or therapists circumstances
Originator: Patient/Therapist
Comments: [Paul Wilcox]

REQ-ID: FR04
Description: The product shall allow the modification of a valid therapist to another valid therapist assigned to an appointment
Type: Functional
Rationale: To allow for changes of schedule or circumstances of the therapist
Originator: Therapist
Comments: [Paul Wilcox]

REQ-ID: FR05
Description: The product shall record the payment due for a completed appointment
Type: Functional
Rationale: To enable an invoice to be prepared for treatment received
Originator: Carol (Office Manager)
Comments: [Philip Mularo]

REQ-ID: FR08
Description: The product shall record an appointment
Type: Functional
Rationale: To be able to schedule a new appointment for a patient
Originator: Carol (Office Manager)
Comments: [Duncan Bain]

REQ-ID: FR09
Description: The product shall update the therapist availability after each appointment entry.
Type: Functional
Rationale: In order to be able to track therapist availability
Originator: Carol (Office Manager)
Comments: [Giovanni Macciocu]

REQ-ID: FR10
Description: The product shall provide the therapist with the possibilitiy to record into the system, how long it should be before the patient's next appointment.
Type: Functional
Rationale: In order to be able to determine the patient's next appointment.
Originator: Therapist
Comments: [Giovanni Macciocu]

REQ-ID: FR11
Description: The product shall allow to retrieve and update patient information
Type: Functional
Rationale: To query and record when a patient has been treated, by whom and for which treatment.
Originator: Receptionist
Comments: [Marcus Wright]

REQ-ID: FR12
Description: The product shall generate a receipt for a patients treatment through a direct monetary payment
Type: Functional
Rationale: To complete the payment process and comply with legal requirement.
Originator: Receptionist
Comments: [Marcus Wright]

REQ-ID: FR13
Description: The product shall identify patients as self-paying or covered by a valid private health insurance policy.
Type: Functional
Rationale: To determine whether payment is required immediately after treatment for a self-paying patient or payment will be received from a health insurer for a patient covered by a valid private health insurance policy.
Originator: Carol (Office Manager)
Comments: [Glen Pinner]

REQ-ID: FR14
Description: The product shall invoice the health insurer for those patients covered by a valid private health insurance policy.
Type: Functional
Rationale: To receive payment for treatment given to patients covered by a valid private health insurance policy from their health insurer.
Originator: Carol (Office Manager)
Comments: [Glen Pinner]

REQ-ID: FR15
Description: The product shall automatically generate a printed booking confirmation for new or changed appointments (unless the appointment is before the end of the next day)
Type: Functional
Rationale: To provide the patient with a printed record of their booking, which can either be handed to them or posted.
Originator: Carol (Office Manager)
Comments: [Elly Kelly] 

REQ-ID: FR16
Description: The product shall be able to generate a daily list of patients who's appointments are in less than four working day's time, sorted by date and time, which includes the patient's postal address, email and phone details.
Type: Functional
Rationale: To provide the receptionist with support to provide the patients with appointment reminders, either by phone, email or post.
Originator: Carol (Office Manager)
Comments: [Elly Kelly] 

REQ-ID: FR17
Description: The product shall accept patient treatment record, indicating payment due and time to next appointment
Type: Functional
Rationale: To input the details from the treatment record into the systems to determine payment due and next appointment
Originator: Carol (Office Manager)
Comments: [Added Kevin Faulkner] 

REQ-ID: FR18
Description: The product shall output the treatment record to the existing treatment recording system and the patient payment  information to the existing accounts system
Type: Functional
Rationale: To provide the existing accounting and treatment record systems with the required inputs from the new system.
Originator: David (Client)
Comments: [Added Kevin Faulkner]

REQ-ID: FR19
Description: The product shall generate statistics about patients who miss appointments.
Type: Functional
Rationale: To gather data about patients missing appointments in order to try different approaches to minimise 'no-shows'.
Originator: Carol (Office Manager)
Comments: [James Oram]

REQ-ID: FR20
Description: The product shall keep track of the medium that was used to remind the patients of their appointment.
Type: Functional
Rationale: To compare the different mediums and see which one is more effective.
Originator: Carol (Office Manager)
Comments: [James Oram]

REQ-ID: FR21
Description: The product shall ensure therapists take their required breaks
Type: Functional
Rationale: To ensure the therapists are working their correct hours
Originator: Carol (Office Manager)
Comments: [Ken King] 

REQ-ID: FR22
Description: The product shall be able to modify the details of treatments offered by a therapist.
Type: Functional
Rationale: To ensure therapists perform treatments for which they are qualified.
Originator: Carol (Office Manager)
Comments: [Ken King]

REQ-ID: FR23
Description: The product shall allow sessions to be defined and marked as available or not available.
Type: Functional
Rationale: To ensure that appointments are not made when the therapists are not available due to holidays etc.
Originator: Carol (Office Manager)
Comments: [Jonathan Bullock]

REQ-ID: FR24
Description: The product shall allow patients to identify themselves to the clinic's web site and see when their appointments are.
Type: Functional
Rationale: To provide the client the ability to remind themselves when their upcoming appointments are and reduce the risk of 'no-shows'.
Originator: Carol (Office Manager)
Comments: [Jonathan Bullock]

REQ-ID: FR25
Description: The product shall generate a list of people expected for appointments before a session.
Type: Functional
Rationale: To ensure that the treatment records for a session are kept ready.
Originator: Carol (Office Manager)
Comments: [Sachin Prabhu]

REQ-ID: FR26
Description: The product shall generate letters on missed appointments.
Type: Functional
Rationale: To remind patients of their missed appointment.
Originator: Carol (Office Manager)
Comments: [Sachin Prabhu]

REQ-ID: FR28
Description: The product shall generate a confirmation letter.
Type: Functional
Rationale: To notify the patients of their next appointment.
Originator: Carol (Office Manager)
Comments: [Delio D'Anna]