REQ-ID:
Description:
Type:
Rationale:
Originator:
Comments: [M814-ModuleChair] Copy this template below to add new requirements.
[ejk]: testing

REQ-ID: FR01
Description: The product shall identify, for a given therapist, treatment and date, the closest available time slot in which the therapist will be available to treat the patient.
Type: Functional
Rationale: In order to book an appointment for a patient to be treated.
Originator: Carol (Office Manager)
Comments: [Luismi-LopezEsteban] First draft

REQ-ID: FR02
Description: The product shall keep an schedule of which therapist are available and when, considering events such as holidays, illnesses, travel, etc..
Type: Functional
Rationale: In order to know when therapist area available to book patient treatments.
Originator: Carol (Office Manager)
Comments: [Luismi-LopezEsteban] First draft

REQ-ID: FR03
Description: The product shall allow the modification of an appointment date
Type: Functional
Rationale: To allow for changes of patient or theropists circumstances
Originator: Carol (Office Manager)
Comments: [Paul Wilcox] First draft

REQ-ID: FR04
Description: The product shall allow the modification of a valid theropist to another valid theropist assigned to an appointment
Type: Functional
Rationale: To allow for changes of schedule or circumstances of the theropist
Originator: Carol (Office Manager)
Comments: [Paul Wilcox] First draft

REQ-ID: FR05
Description: The product shall record the payment due for a completed appointment
Type: Functional
Rationale: To enable an invoice to be prepared for treatment received
Originator: Carol (Office Manager)
Comments: [Philip Mularo]

REQ-ID: FR06
Description: The product shall record the patient's identifying information
Type: Functional
Rationale: To enable the system to track that the patient has attended the appointment as required
Originator: Carol (Office Manager)
Comments: [Philip Mularo]

REQ-ID: FR07
Description: The product shall show the next available slot for an appointment
Type: Functional
Rationale: To be able to schedule a new appointment for a patient
Originator: Carol (Office Manager)
Comments: [Duncan Bain]

REQ-ID: FR08
Description: The product shall record an appointment
Type: Functional
Rationale: To be able to schedule a new appointment for a patient
Originator: Carol (Office Manager)
Comments: [Duncan Bain]

REQ-ID: FR09
Description: The system must update the therapist availability after each appointment entry.
Type: Functional
Rationale: In order to be able to track therapist availability
Originator: Carol (Office Manager)
Comments: [Giovanni Macciocu]

REQ-ID: FR10
Description: The system will provide the therapist with the possibilitiy to record into the system, how long it should be before the patient's next appointment.
Type: Functional
Rationale: In order to be able to determine the patient's next appointment.
Originator: Therapist
Comments: [Giovanni Macciocu]

REQ-ID: FR11
Description: Locate Patient Record in system
Type: Functional
Rationale: To allow the record to be updated with the information from the treatment form
Originator: Receptionist
Comments: [Marcus Wright]

REQ-ID: FR12
Description: The system will generate a receipt for a patients treatment payment
Type: Functional
Rationale: To complete the payment process and comply with legal requirement.
Originator: Receptionist
Comments: [Marcus Wright]

REQ-ID: FR13
Description: The product shall identify patients as self-paying or covered by a valid private health insurance policy.
Type: Functional
Rationale: To determine whether payment is required immediately after treatment for a self-paying patient or payment will be received from a health insurer for a patient covered by a valid private health insurance policy.
Originator: Carol (Office Manager)
Comments: [Glen Pinner]

REQ-ID: FR14
Description: The product shall invoice the health insurer for those patients covered by a valid private health insurance policy.
Type: Functional
Rationale: To receive payment for treatment given to patients covered by a valid private health insurance policy from their health insurer.
Originator: Carol (Office Manager)
Comments: [Glen Pinner]
