REQ-ID: FR01
Description: The product shall identify, for a given therapist and date, the closest available time slot in which the therapist will be available to treat the patient.
Type: Functional
Rationale: In order to book an appointment for a patient to be treated.
Originator: Carol (Office Manager)
Comments: [Luismi-LopezEsteban]

REQ-ID: FR02
Description: The product shall keep a schedule of which therapists are available and when, considering events such as holidays, illnesses, travel, etc.
Type: Functional
Rationale: In order to know when therapists are available to book patient treatments.
Originator: Carol (Office Manager)
Comments: [Luismi-LopezEsteban]

REQ-ID: FR03
Description: The product shall allow the modification of an appointment date.
Type: Functional
Rationale: To allow for changes in patients' or therapists' circumstances.
Originator: Patient/Therapist
Comments: [Paul Wilcox]

REQ-ID: FR04
Description: The product shall allow another therapist to be assigned to an appointment.
Type: Functional
Rationale: To allow for changes of schedule or circumstances of the therapist.
Originator: Therapist
Comments: [Paul Wilcox]

REQ-ID: FR05
Description: The product shall record the payment due for a completed appointment.
Type: Functional
Rationale: To enable an invoice to be prepared for treatment received.
Originator: Carol (Office Manager)
Comments: [Philip Mularo]

REQ-ID: FR06
Description: The product shall record the patient's attendance for an appointment.
Type: Functional
Rationale: To enable the system to track that the patient has attended the appointment as required.
Originator: Carol (Office Manager)
Comments: [Philip Mularo]

REQ-ID: FR08
Description: The product shall record, i.e. book an appointment, on behalf of the patient.
Type: Functional
Rationale: To be able to schedule a new appointment for a patient.
Originator: Carol (Office Manager)
Comments: [Duncan Bain]

REQ-ID: FR09
Description: The product shall update the therapist schedule after each appointment entry.
Type: Functional
Rationale: In order to be able to view therapist schedule.
Originator: Carol (Office Manager)
Comments: [Giovanni Macciocu]

REQ-ID: FR10
Description: The product shall provide an indication of how long it should be before the patient's next appointment.
Type: Functional
Rationale: To generate a reminder so that the clinic can contact the patient for their next appointment.
Originator: Therapist
Comments: [Giovanni Macciocu]

REQ-ID: FR12
Description: The product shall generate a receipt for a patients treatment payment.
Type: Functional
Rationale: To complete the payment processt.
Originator: Receptionist
Comments: [Marcus Wright]

REQ-ID: FR13
Description: The product shall identify patients as self-paying or covered by a valid private health insurance policy.
Type: Functional
Rationale: To determine whether payment is required immediately after treatment for a self-paying patient or payment will be received from a health insurer for a patient covered by a valid private health insurance policy.
Originator: Carol (Office Manager)
Comments: [Glen Pinner]

REQ-ID: FR14
Description: The product shall invoice the health insurer for those patients covered by a valid private health insurance policy.
Type: Functional
Rationale: To receive payment for treatment given to patients covered by a valid private health insurance policy from their health insurer.
Originator: Carol (Office Manager)
Comments: [Glen Pinner]

REQ-ID: FR15
Description: The product shall automatically generate a printed booking confirmation for new or changed appointments (unless the appointment is before the end of the next day).
Type: Functional
Rationale: To provide the patient with a printed record of their booking, which can either be handed to them or posted.
Originator: Carol (Office Manager)
Comments: [Elly Kelly] 

REQ-ID: FR16
Description: The product shall be able to generate a daily list of patients whose appointments are in less than four working day's time, sorted by date and time, which includes the patient's postal address, email and phone details.
Type: Functional
Rationale: To provide the receptionist with support to provide the patients with appointment reminders, either by phone, email or post.
Originator: Carol (Office Manager)
Comments: [Elly Kelly] 

REQ-ID: FR18
Description: The product shall output the patient payment information to the existing accounts system.
Type: Functional
Rationale: To provide the existing accounting system with the required inputs from the new appointments system.
Originator: David (Partner)
Comments: [Added Kevin Faulkner]

REQ-ID: FR19
Description: The product shall generate statistics about patients who miss appointments.
Type: Functional
Rationale: To gather data about patients missing appointments in order to try different approaches to minimise 'no-shows'.
Originator: Carol (Office Manager)
Comments: [James Oram]

REQ-ID: FR20
Description: The product shall keep track of the methods used to remind the patients of their upcoming appointments.
Type: Functional
Rationale: To compare the different methods and see which one is more effective.
Originator: Carol (Office Manager)
Comments: [James Oram]

REQ-ID: FR24
Description: The product shall allow patients to identify themselves to the clinic's web site and see when their appointments are.
Type: Functional
Rationale: To provide the client the ability to remind themselves when their upcoming appointments are and reduce the risk of 'no-shows'.
Originator: Carol (Office Manager)
Comments: [Jonathan Bullock]